<div class="hero">
<br />
<div class="frosty col-xs-10 col-xs-offset-1 text-center">
<h1> The marketplace for artisanal food purveyord and people with good taste buds </h1>
<br />
<button class='btn btn-info'> Learn More </button>
<br /> <br />
</div>
</div>

<div class="intro">
<h1> How It Works </h1>

</div>