<div class="hero">
<br />
<div class="frosty col-xs-10 col-xs-offset-1 text-center">
<h1> The marketplace for artisanal food purveyord and people with good taste buds </h1>
<br />
<%=link_to 'Learn More', products_path, class:'btn btn-info'%>
<br /> <br />
</div>
</div>


<br />
<h1 class='text-center'> How It Works</h1>
<hr />
<br />

<div class="container pull-right">
  <div class="row">
     <h3 class="col-sm-4 col-md-4 description"> Sign Up </h3> 
     <p class="col-sm-4 col-md-4 numba"> 1 </p>
     <h3 class="col-sm-4 col-md-4 pull-right description"> Create an account and other things to stay in touch</h3>


  </div>
  
  <br />
  <br />
 <div class="row">
     <h3 class="col-sm-4 col-md-4 description"> Send us your vendor permit </h3>
     <p class="col-sm-4 col-md-4 numba"> 2 </p>
     <h3 class="col-md-4 pull-right description"> We will validate within 2 business days </h3>
  </div>
  <br /> 
  <br />
  
  <div class="row">
     <h3 class=" col-sm-4 col-md-4 description"> Sell! </h3>
     <p class=" col-sm-4 col-md-4 numba"> 3 </p>
     <h3 class="col-sm-4 col-md-4 pull-right description"> Start receiving orders and selling on Village Baker ! </h3>
 </div>

  
</div>
