<div class="hero">
<br />
<div class="frosty col-xs-10 col-xs-offset-1 text-center">
<h1> The marketplace for artisanal food purveyord and people with good taste buds </h1>
<br />
<%=link_to 'Learn More', products_path, class:'btn btn-info'%>
<br /> <br />
</div>
</div>


<br />
<h1 class=' container text-center'> How It Works</h1>
<hr />
<br />


  <div class="booyah-box step1 row">
   <img class="col-sm-4 col-md-4 brownie pull-left" src="assets/architecture.png"/>
    <p class="col-sm-4 col-md-4 arrow text-center"> &#8594; </p> 
   <div class="col-sm-4 col-md-4 pull-right description"> <h3> 
   Sign Up!<br />
    Create an account and other things to stay in touch</h3> 
    <p> We're here to help if you have any questions about the process</p>
   </div>
  </div>


  
  <br />
  <br />


 <div class="booyah-box step2 row">
    <img class="col-sm-4 col-md-4 permit pull-right" src="assets/vendor.png"/> 
    <div class="col-sm-4 col-md-4 description pull-left"> 
    <h3> Send us your vendor permit<br />
     We will validate within 2 business days </h3>
     <p> A quick image upload and we're all set ! </p>
     </div>
    <p class="col-sm-4 col-md-4 left_arrow text-center"> &#8592; </p>  
    


  </div>

  <br /> 
  <br />
  
  <div class="booyah-box step3 row">
    <img class="col-sm-4 col-md-4 approval pull-left" src="assets/brownie.jpg"> 
    <p class="col-sm-4 col-md-4 arrow text-center"> &#8594; </p> 
    <h3 class="col-sm-4 col-md-4 description pull-right"> Sell! 
        Start receiving orders and selling on Village Baker ! </h3>
   <p> </p>
  </div>

  
</div>
