// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  background:url('dark_embroidery.png');
  
}


#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}


#footer {
  height:60px;
}

.hero {
 background: url('jams.jpg')no-repeat center center fixed;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:370px;
  box-shadow: 0px 3px 8px #2a2a2a;

}

.navbar-inverse a.navbar-brand {
  font-family: 'Play', sans-serif;
  font-weight: 100;
  color:white;
}

.navbar {
  border-radius:0;
  font-family: 'Play', sans-serif;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  color:white;
}



.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px;
}

.booyah-box h2, .booyah-box h1 {
  margin:10px;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

.frosty {
  background:rgba(0,0,0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: "Play", sans-serif;
  font-weight: 100;
   text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.btn {
  botder-radius:0;
}

.h3 {
  margin-top:20px;
}



.arrow, .left_arrow{
  font-size:100px;
  color:rgba(0,151,188,0.55);

}


.clr {
  clear:both;
}

#footer {
  height:100px;
  color:white;
  background:black;
  font-family: "Helvetica Neue",Helvetica;
}

#footer a {
  color:white;
  font-weight: 100;
  padding:10px 0;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
  margin:10px;
}

.container {
  color:white;
}

/* .step1, .step2, .step3 {
  max-width: 940px;
  text-align: center;
  border:1px solid white;
  margin-left: 30%;
}
*/
.approval , .permit , .brownie {
  max-width: 350px;
  max-height: 245px;

  
}

.approval, .brownie {
  margin-left:20px;
}

.permit {
  margin-right:20px;
}

/*.dash {
  background: 
    width: 105px;
    height: 19px;
    margin:5% auto;
}

*/ 


