<br />

  <h1 class=' text-center '> Get a cookie from your favorite local baker! </h1>
  <hr />

<div class=" container"
<div class="row">
  <% @products.each do |product| %>
<div class= "product-box booyah-box col-sm-4 col-md-4" >  
    <br />
    <%= link_to product.name, product_path(product)%>
    <%= image_tag product.name %>
    <br />
    <p class="text-center"> <%= product.description %> </p>
    <br />
    <%=link_to 'Buy item', product_path(product), class:'btn btn-success btn-md'%>
  </div>        
   
  <% end %> 
</div>
  </div>
</div>